* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


/* icon bar*/
.fa-shopping-cart:before {
    content: "\f290";
}

.fa-user:before {
    content: "\f007";
}

.fa-bars:before {
    content: "\f0c9";
} 
/* icon bar*/

.nav{
    display: inline-block;
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
}

.nav > a{
    float: right;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
}

.nav .dropdown{

    display: inline-block;
    position: relative;
    color : white;
}

.nav .dropdown > a{
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
}

.nav a:hover, .nav .dropdown:hover {
    background-color: #555;
    color:aqua;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top : 100%;
    z-index: 1;
}


.dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 28px;
    padding: 12px 16px;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: grey;
}

.dropdown:hover .dropdown-content{
    display: block;
}



